*, *::before, *::after {
  box-sizing: border-box;
  -webkit-text-fill-color: inherit;
}
html {
  color-scheme: light !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
  color: #111111;
  -webkit-text-fill-color: #111111;
}
h1, h2, h3, h4, h5, h6, p, span, a, button, select, option, textarea, input, label {
  color: inherit;
  -webkit-text-fill-color: inherit;
}
